.concert-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 280px) {
  .concert-list {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .concert-list {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .concert-list {
    width: 1280px;
  }
}
body {
  background-color: #0e0e0e;
  margin: 0;
}
.concert-container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .concert-container {
    width: 610px;
  }
}
@media screen and (min-width: 1280px) {
  .concert-container {
    width: 946px;
  }
}
@media screen and (min-width: 320px) {
  .card {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    font-size: 14px;
  }
}
.box.position {
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 320px) {
  .box.position {
    top: -10px;
    left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .box.position {
    top: -14px;
    left: 84px;
  }
}
.card__name {
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #dc56c5;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .card__name {
    font-size: 16px;
    line-height: 20px;
  }
}
.date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .date {
    font-size: 16px;
    line-height: 20px;
  }
}
.place_of_location {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
}
.material-icons {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .place_of_location {
    font-size: 14px;
    line-height: 17px;
  }
  .material-icons {
    font-size: 14px;
  }
}
.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 138px 138px;
  row-gap: 30px;
  column-gap: 14px;
}
.card {
  width: 138px;
  position: relative;
  z-index: 1;
}
.img-card {
  height: 161px;
  width: 128px;
  border-radius: 50px 0px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  /* -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; */
}
.img-container {
  display: inline-block;
  position: relative;
  right: -50%;
}
.card__image {
  height: 161px;
  position: relative;
  left: -50%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.card__image:hover,
.card__image:focus .list_decor:hover .card__image,
.list_decor:focus .card__image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.img-card:hover,
.img-card:focus,
.card:hover .img-card,
.card:focus .img-card {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  /* -webkit-transform: scale(1.1);
  transform: scale(1.2); */
  box-shadow: 0 10px 10px -10px rgba(220, 86, 197, 0.8);
}
.list_decor {
  width: 109px;
  height: 101px;
  position: absolute;
  right: -10px;
  top: -9px;
  z-index: 2;
  border: 1px solid rgba(220, 86, 197, 0.3);
  box-sizing: border-box;
  border-radius: 50px 0px;
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 194px 194px 194px;
    row-gap: 45px;
    column-gap: 26px;
  }
  .card {
    width: 194px;
  }
  .img-card {
    width: 180px;
    height: 227px;
  }
  .card__image {
    height: 227px;
  }
  .list_decor {
    width: 153px;
    height: 143px;
    right: -14px;
    top: -13px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 196px 196px 196px 196px;
    row-gap: 50px;
    column-gap: 55px;
  }
  .card {
    width: 196px;
  }
  .img-card {
    height: 227px;
  }
  .card__image {
    height: 227px;
  }
}
