<ul class="pagination-list">
    <li class="page-item"><button type="button" class="page-button">1</button></li>
    <li class="page-item"><button type="button" class="page-button dots" disabled>...</button></li>
    {{#each pageList}}
    <li class="page-item"><button type="button" class="page-button">{{this}}</button></li>
    {{/each}}
    <li class="page-item"><button type="button" class="page-button dots" disabled>...</button></li>
    <li class="page-item"><button type="button" class="page-button">{{lastPage}}</button></li>
</ul>